#interactions {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

input[type=range] {
    margin: 0 50px 0 0;
}

.slider, .input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "slider slider" "icon1 icon2";
    grid-gap: 10px;
    margin-right: 50px;
}

.input {
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "icon1 slider";
}

.slider input, .input input {
    grid-area: slider;
    margin: 0 !important;
    align-self: end;
}

.slider .icon:first-of-type, .input .icon {
    grid-area: icon1;
    align-self: center;
}

.slider .icon:last-child {
    grid-area: icon2;
    justify-self: end;
}

.minimize:before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23dcdcdc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="4 14 10 14 10 20"></polyline><polyline points="20 10 14 10 14 4"></polyline><line x1="14" y1="10" x2="21" y2="3"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>') center;
}

.maximize:before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23dcdcdc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 3 21 3 21 9"></polyline><polyline points="9 21 3 21 3 15"></polyline><line x1="21" y1="3" x2="14" y2="10"></line><line x1="3" y1="21" x2="10" y2="14"></line></svg>') center;
}

.angle:before {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23dcdcdc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="1.5" y1="18.2" x2="22.5" y2="18.2"/><line x1="1.5" y1="18.2" x2="16.3" y2="3.3"/><path d="M5,11.3c1.5,0,2.9,0.6,3.9,1.6s1.6,2.4,1.6,3.9s-0.6,2.9-1.6,3.9"/></svg>') center;
}

#name {
    color: rgb(var(--color));
    font-family: 'Montserrat Alternates', monospace;
    letter-spacing: 2px;
    font-size: 22px;

    height: 40px;
    width: 110px;
    background: rgba(var(--color), .2);
    padding: 4px 0 5px 2px;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#name.focus {
    color: rgba(var(--color), .5);
}

#name span {
    color: rgb(var(--color));
    outline: none;
    white-space: nowrap;
}

#name span:empty:after {
    content: "0";
    color: rgba(var(--color), .5);
    display: inline-block;
}
