@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

:root {
    --dot-size: 10px;
    --dot-border-size: 4px;
    --circle-radius: 200px;

    --background: 50,50,50;
    --color: 200,200,200;
}

body {
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: 200px 1fr;

    background: rgb(var(--background));
}

body > *:not(svg) {
    padding: 0 100px;
}

#interactions {
    z-index: 100000;
    background: rgb(var(--background));

    display: flex;
    align-items: center;
}

input[type=range] {
    width: 200px;
    height: 4px;

    margin: 0 50px 0 0;
    padding: 0;

    -webkit-appearance: none;
    background: rgba(var(--color), .5);
    border-radius: 2px;
}

input[type=range]::-webkit-slider-thumb {
    height: var(--dot-size);
    width: var(--dot-size);

    -webkit-appearance: none;
    background: rgb(var(--color));
    border-radius: calc(var(--dot-size) / 2);
    box-shadow: 0 0 0 var(--dot-border-size) rgba(var(--color), .2);

    cursor: pointer;

}

input[type=number] {
    height: 30px;
    width: 50px;

    padding-left: calc(var(--dot-size) / 2 + 2px);

    -webkit-appearance: none;
    background: rgb(var(--background));
    border: 2px solid rgba(var(--color), .5);
    border-radius: calc(var(--dot-size) / 2 + 2px);

    color: rgba(var(--color), .9);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    height: 32px;
    width: 13px;
    background: rgba(var(--color), .1) url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 21"><line fill="none" stroke="rgba(200,200,200,.3)" stroke-miterlimit="10" x1="0" y1="10.5" x2="10" y2="10.5"/><polyline fill="none" stroke="rgba(200,200,200,.6)" stroke-linecap="round" stroke-linejoin="round" points="3,6 5,4 7,6 "/><polyline fill="none" stroke="rgba(200,200,200,.6)" stroke-linecap="round" stroke-linejoin="round" points="7,15 5,17 3,15 "/></svg>') center no-repeat;
    border-radius: 0 calc(var(--dot-size) / 2) calc(var(--dot-size) / 2) 0;
    margin: 0 -1px 0 0;
    cursor: pointer;
}

input[type=number]:focus {
    border: 2px solid rgba(var(--color), .8);
    outline: none;
}

#scribble {
    visibility: hidden;
}

#scribble * {
    position: absolute;
}

.dot {
    height: var(--dot-size);
    width: var(--dot-size);

    margin: calc(var(--dot-size) / -2) 0 0 calc(var(--dot-size) / -2);
    box-sizing: border-box;

    background: rgb(var(--color));
    border-radius: calc(var(--dot-size) / 2);
    box-shadow: 0 0 0 var(--dot-border-size) rgba(var(--color), .2);
}

.circle {
    height: calc(var(--circle-radius) * 2);
    width: calc(var(--circle-radius) * 2);

    margin: calc(var(--circle-radius) * -1) 0 0 calc(var(--circle-radius) * -1);
    box-sizing: border-box;

    border-radius: var(--circle-radius);
    border: 2px solid rgba(var(--color), .5);
}

#canvas {
    position: absolute;
    top: 200px;
    left: 0;

    height: calc(100vh - 200px);
    width: 100vw;
    box-sizing: border-box;
}

svg#canvas * {
    stroke: rgb(var(--color));
    stroke-width: 2px;
    stroke-linecap: round;
}
